.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
    background-color: #f5fff6;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    align-content:center;
    padding: 58px 30px;
}

nav{
    background-color: #ffffff;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

.nav-logo-part{
    display:flex;
    align-items: center;
    padding: 25px 10px;
}

.nav-leftSide-info{
    display: flex;
    align-items: center;
}

.logo{
    height: 60px;
    width: 60px;
    padding-right: 10px;
}
.logo-theme{
    font-size: 24.69px;
    color: #006747;
}
.heart-count,.star-count{
    background-color: #edfff1;
    border: none;
    border-radius: 50px;
    color: black;
    padding: 10px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.card-All-text{
    background-color: #edfff1;
    border: none;
    border-radius: 50px;
    color: #5c5c5c; 
    padding: 4px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
}

.copy-count{
    background-color: #00A63E;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.heart-count,.star-count{
    display: flex;
    align-items: center;
}
.card-footer-button1{
    background-color: #ffffff;
    border: 2px solid #d4d6d5;
    border-radius: 12px;
    color: #5c5c5c;
    padding: 10px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.card-footer-button2{
    background-color: #00A63E;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 12px 54px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.icon{
    height: 30px;
    width: 30px;
    padding-left: 10px;
}

.hero-section{
    background-image: linear-gradient(to right, #013223, #006747, #013223);
    height: 239px;
    background-color: red;
    text-align:center;
    justify-content: space-around;
    display: grid;
}
.logo-hero-section{
    height: 92px;
    width: 92px;
    padding: 21px 500px 11px 500px;
}
.hero-section-theme{
    font-size: 40px;
    color: #ffffff;
}
.hero-section-label-text{
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 21px;
}

.card{
    align-items: center;
    background-color: #ffffff;
    max-height: 436.67px;
    max-width: 360px;
    border-radius: 12px;
    padding: 32px;
    margin: 20px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.top-card-part{
    display: grid;
}

.card-header-text{
    font-size: 24px;
    color: black;
}

.card-label-text{
    font-size: 18px;
    color: #5c5c5c;
    padding-bottom: 24px;
}

.card-icon{
    padding-bottom: 16px;
}

.left-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    max-width: 1350px;
}

.right-main{
    min-width: 400px;
    min-height: 1140px;
}

.history-card{
    display: flex;
    justify-content: space-between;
}

.history-clear{
    padding-left: 100px;
}

.clear-button{
    border-radius: 50px;
    padding: 10px 28px;
}

.icon-top-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pointer{
    cursor: pointer;
}

.history-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.call-history{
    background-color: #edfff1;
    border-radius: 8px;
    color: black;
    text-align: center;
    font-size: 16px;
    margin: 8px 2px;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

.call-information-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
